.Definition h2 {
  color: hsl(17, 88%, 75%);
  font-size: 32px;
}

.Definition .definitionSect {
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: 10px;
  line-height: 1.8;
}

.Definition p {
  margin-bottom: 0;
}

.Definition em {
  opacity: 0.7;
}
